In [13]:
import pandas as pd

Задание 1:
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId

In [2]:
r = pd.read_csv('ml-latest-small/ratings.csv')

In [4]:
r.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
len(r['userId'].unique())

671

In [6]:
up100 = r.groupby('userId')['userId'].agg({'up100': 'count'}).query('up100 > 100')

up100.head()

C:\Users\djyff\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

        up100
userId
4         204
8         116
15       1700
17        363
19        423

In [8]:
lifetime = r.merge(up100, on = 'userId', how = 'inner').groupby('userId').agg({'timestamp':[max, min]})
lifetime.head()

         timestamp
               max         min
userId
4        949982274   949778714
8       1154474527  1154389340
15      1469330735   997937239
17      1127476640  1127468587
19       855195373   855190091

In [11]:
(lifetime['timestamp']['max'] - lifetime['timestamp']['min']).mean()

463.89476214829165